In [1]:
pi = 22/7
print(type(pi))  # Check the data type of the variable

<class 'float'>

In [2]:
for = 4  # This will result in a syntax error because "for" is a reserved keyword in Python and cannot be used as a variable name.

SyntaxError: invalid syntax (3025739943.py, line 1)

In [6]:
principal_amount = 1000  # Example principal amount
rate_of_interest = 0.05  # Example rate of interest (5%)
time = 3  # Example time in years

# Simple Interest formula: SI = (P * R * T) / 100
simple_interest = (principal_amount * rate_of_interest * time)
print("Simple Interest for 3 years:", simple_interest)

Simple Interest for 3 years: 150.0

In [5]:
def format_string(arg1, arg2):
    formatted_string = "Argument 1: {0}, Argument 2: {1}".format(arg1, arg2)
    return formatted_string

# Call the function with arguments 145 and 'o'
result = format_string(145, 'o')
print(result)

Argument 1: 145, Argument 2: o

In [7]:
# Given values
radius = 84
pi = 3.14

# Calculate the area of the pond
area = pi * radius ** 2

# Print the result
print("The area of the circular pond is:", area, "square meters")

The area of the circular pond is: 22155.84 square meters

In [8]:
# Given values
water_per_square_meter = 1.4  # liters
total_water = area * water_per_square_meter

# Round the total water to the nearest whole number
total_water = round(total_water)

# Print the total amount of water without any decimal point
print("The total amount of water in the pond is:", total_water)

The total amount of water in the pond is: 31018

In [9]:
distance = 490  # meters
time_minutes = 7  # minutes

# Convert time to seconds
time_seconds = time_minutes * 60  # 1 minute = 60 seconds

# Calculate the speed
speed = distance / time_seconds

# Round the speed to the nearest whole number
speed = round(speed)

# Print the speed without any decimal point
print("Your speed in meters per second is:", speed)

Your speed in meters per second is: 1

In [10]:
# Original list of Justice League members
justice_league = ["Superman", "Batman", "Wonder Woman", "Flash", "Aquaman", "Green Lantern"]

# Task 1: Calculate the number of members in the Justice League
num_members = len(justice_league)
print("Number of members in the Justice League:", num_members)

# Task 2: Batman recruited Batgirl and Nightwing as new members. Add them to your list.
justice_league.extend(["Batgirl", "Nightwing"])

# Task 3: Wonder Woman is now the leader of the Justice League. Move her to the beginning of the list.
justice_league.remove("Wonder Woman")
justice_league.insert(0, "Wonder Woman")

# Task 4: Choose either "Green Lantern" or "Superman" and move them in between Aquaman and Flash.
# Let's choose "Superman"
justice_league.remove("Superman")
justice_league.insert(justice_league.index("Aquaman") + 1, "Superman")

# Task 5: Replace the existing list with the new members
new_members = ["Cyborg", "Shazam", "Hawkgirl", "Martian Manhunter", "Green Arrow"]
justice_league = new_members

# Task 6: Sort the Justice League alphabetically
justice_league.sort()

# Print the updated Justice League
print("Updated Justice League:", justice_league)

Number of members in the Justice League: 6
Updated Justice League: ['Cyborg', 'Green Arrow', 'Hawkgirl', 'Martian Manhunter', 'Shazam']

In [11]:
# Ask the user to enter height in meters
height = float(input("Enter height in meters: "))

# Ask the user to enter weight in kilograms
weight = float(input("Enter weight in kilograms: "))

# Calculate BMI using the formula: BMI = weight / (height)^2
bmi = weight / (height ** 2)

# Determine the BMI category
if bmi >= 30:
    category = "Obesity"
elif 25 <= bmi < 30:
    category = "Overweight"
elif 18.5 <= bmi < 25:
    category = "Normal"
else:
    category = "Underweight"

# Print the BMI category
print("BMI Category:", category)

Enter height in meters: 190
Enter weight in kilograms: 98
BMI Category: Underweight

In [12]:
australia_cities = ["Sydney", "Melbourne", "Brisbane", "Perth"]
uae_cities = ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"]
india_cities = ["Mumbai", "Bangalore", "Chennai", "Delhi"]


city_name = input("Enter a city name: ")


if city_name in australia_cities:
    country = "Australia"
elif city_name in uae_cities:
    country = "UAE"
elif city_name in india_cities:
    country = "India"
else:
    country = "Unknown" 


print(city_name, "is in", country)

Enter a city name: sydney
sydney is in Unknown

In [13]:
cities_per_country = {
    "Australia": ["Sydney", "Melbourne", "Brisbane", "Perth"],
    "UAE": ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"],
    "India": ["Mumbai", "Bangalore", "Chennai", "Delhi"]
}

# Ask the user to enter the first city
first_city = input("Enter the first city: ")

# Ask the user to enter the second city
second_city = input("Enter the second city: ")

# Determine the country for the first city
first_city_country = None
for country, cities in cities_per_country.items():
    if first_city in cities:
        first_city_country = country
        break

# Determine the country for the second city
second_city_country = None
for country, cities in cities_per_country.items():
    if second_city in cities:
        second_city_country = country
        break

# Check if both cities belong to the same country
if first_city_country == second_city_country:
    print("Both cities are in", first_city_country)
else:
    print("They don't belong to the same country")

Enter the first city: sydney
Enter the second city: Dubai
They don't belong to the same country

In [14]:
import random

# Initialize variables to count statistics
six_count = 0
one_count = 0
double_six_count = 0
prev_roll = None


for _ in range(20):
    
    roll = random.randint(1, 6)
 
    if roll == 6:
        six_count += 1
        if prev_roll == 6: 
            double_six_count += 1
    elif roll == 1:
        one_count += 1
    
    
    prev_roll = roll

# Print the statistics
print("Number of times rolled a 6:", six_count)
print("Number of times rolled a 1:", one_count)
print("Number of times rolled two 6s in a row:", double_six_count)

Number of times rolled a 6: 2
Number of times rolled a 1: 6
Number of times rolled two 6s in a row: 0

In [ ]:
total_jumping_jacks = 100

while total_jumping_jacks > 0:
    print("Perform 10 jumping jacks")
    total_jumping_jacks -= 10
    
    tired = input("Are you tired? (yes/no): ").lower()
    
    if tired == "yes" or tired == "y":
        skip_remaining = input("Do you want to skip the remaining sets? (yes/no): ").lower()
        if skip_remaining == "yes" or skip_remaining == "y":
            print("You completed a total of", 100 - total_jumping_jacks, "jumping jacks.")
            break
    else:
        print("You have", total_jumping_jacks, "jumping jacks remaining.")
        continue

if total_jumping_jacks == 0:
    print("Congratulations! You completed the workout.")

Perform 10 jumping jacks
Are you tired? (yes/no): yes
Do you want to skip the remaining sets? (yes/no): no
Perform 10 jumping jacks
Are you tired? (yes/no): yes
Do you want to skip the remaining sets? (yes/no): no
Perform 10 jumping jacks
Are you tired? (yes/no): ni
You have 70 jumping jacks remaining.
Perform 10 jumping jacks

In [ ]:
# List of friends' names
friends = ["Alice", "Bob", "Charlie", "David", "Emma"]

# List of tuples containing friend's name and length of the name
friend_name_length = [(friend, len(friend)) for friend in friends]

# Print the list of tuples
print("List of tuples (Friend's Name, Length of Name):", friend_name_length)

In [ ]:
your_expenses = {
    "Hotel": 1200,
    "Food": 800,
    "Transportation": 500,
    "Attractions": 300,
    "Miscellaneous": 200
}

partner_expenses = {
    "Hotel": 1000,
    "Food": 900,
    "Transportation": 600,
    "Attractions": 400,
    "Miscellaneous": 150
}

your_total_expenses = sum(your_expenses.values())
partner_total_expenses = sum(partner_expenses.values())

print("Your total expenses:", your_total_expenses)
print("Partner's total expenses:", partner_total_expenses)

if your_total_expenses > partner_total_expenses:
    print("You spent more money overall.")
elif your_total_expenses < partner_total_expenses:
    print("Your partner spent more money overall.")
else:
    print("You and your partner spent the same amount of money overall.")

significant_difference_category = None
max_difference = 0

for category in your_expenses:
    difference = abs(your_expenses[category] - partner_expenses[category])
    if difference > max_difference:
        max_difference = difference
        significant_difference_category = category

print("The expense category with a significant difference in spending is:", significant_difference_category)
print("The difference in spending is:", max_difference)

In [ ]:
class Avenger:
    def __init__(self, name, age, gender, super_power, weapon):
        self.name = name
        self.age = age
        self.gender = gender
        self.super_power = super_power
        self.weapon = weapon
    
    def get_info(self):
        return f"Name: {self.name}, Age: {self.age}, Gender: {self.gender}, Super Power: {self.super_power}, Weapon: {self.weapon}"
    
    def is_leader(self):
        leaders = ["Captain America", "Iron Man", "Black Widow", "Hulk", "Thor", "Hawkeye"]
        if self.name in leaders:
            return True
        else:
            return False

# Create Avenger objects for each superhero
super_heroes = [
    Avenger("Captain America", 100, "Male", "Super strength", "Shield"),
    Avenger("Iron Man", 40, "Male", "Technology", "Armor"),
    Avenger("Black Widow", 36, "Female", "Superhuman", "Batons"),
    Avenger("Hulk", 49, "Male", "Unlimited Strength", "No Weapon"),
    Avenger("Thor", 1500, "Male", "Super Energy", "Mjölnir"),
    Avenger("Hawkeye", 45, "Male", "Fighting skills", "Bow and Arrows")
]

# Test the methods for each Avenger
for hero in super_heroes:
    print(hero.get_info())
    print(f"{hero.name} is a leader: {hero.is_leader()}")
    print()

In [ ]:
class MobilePhone:
    def __init__(self, screen_type, network_type, dual_sim, front_camera, rear_camera, ram, storage):
        self.screen_type = screen_type
        self.network_type = network_type
        self.dual_sim = dual_sim
        self.front_camera = front_camera
        self.rear_camera = rear_camera
        self.ram = ram
        self.storage = storage
    
    def make_call(self):
        print("Making a call...")
    
    def receive_call(self):
        print("Receiving a call...")
    
    def take_a_picture(self):
        print("Taking a picture...")

class Apple(MobilePhone):
    def __init__(self, screen_type, network_type, dual_sim, front_camera, rear_camera, ram, storage, face_id):
        super().__init__(screen_type, network_type, dual_sim, front_camera, rear_camera, ram, storage)
        self.face_id = face_id
    
    def use_face_id(self):
        print("Using Face ID...")

class Samsung(MobilePhone):
    def __init__(self, screen_type, network_type, dual_sim, front_camera, rear_camera, ram, storage, iris_scanner):
        super().__init__(screen_type, network_type, dual_sim, front_camera, rear_camera, ram, storage)
        self.iris_scanner = iris_scanner
    
    def use_iris_scanner(self):
        print("Using Iris Scanner...")

# Creating objects of Apple class
iphone_12 = Apple("Touch Screen", "5G", False, "12MP", "12MP", "4GB", "64GB", True)
iphone_11 = Apple("Touch Screen", "4G", True, "8MP", "12MP", "3GB", "128GB", True)

# Creating objects of Samsung class
galaxy_s21 = Samsung("Touch Screen", "5G", True, "16MP", "48MP", "8GB", "256GB", True)
galaxy_s20 = Samsung("Touch Screen", "5G", True, "12MP", "32MP", "6GB", "128GB", True)

# Testing functionalities
iphone_12.make_call()
galaxy_s21.take_a_picture()
iphone_11.receive_call()
galaxy_s20.use_iris_scanner()